<ul class="nav">
    <li>
        <a href="/" class="<%= activeShop ? 'active' : '' %>">Shop</a>
    </li>

    <li>
        <a href="/admin/add-product" class="<%= activeAdmin ? 'active' : '' %>">
            Add Product
        </a>
    </li>
</ul>