extends layouts/main-layout

block content
  main.container
    section.card
      h1.page-title Add Product
      p.page-text Enter a product title below to add a new product to your shop.
      form.product-form(action="/admin/add-product", method="POST")
        label.form-label(for="title") Product Title
        input.form-input(type="text", id="title", name="title", placeholder="Enter product title", required)
        button.btn(type="submit") Add Product