doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title shop
        link(rel="stylesheet", href="/css/product.css")
        link(rel="stylesheet", href="/css/main.css")
    body 
        ui.nav
            li
                a(href="/") Shop
            li
                a(href="/admin/add-product") Add Product

        main.container
            section.card
                h1.page-title Shop
                p.page-text All products will appear here in a clean and simple layout.