<main class="container">
    {{#if hasProducts}}
        <section class="product-list">
            {{#each prods}}
                <div class="card">
                    <h2 class="product-title">{{this.title}}</h2>
                    <img class="product-image" src="https://www.skiptomylou.org/wp-content/uploads/2022/12/how-to-draw-a-book-6-600x338.jpg" alt="{{this.title}}">
                    <button class="btn">View Details</button>
                </div>
            {{/each}}
        </section>
    {{else}}
    
        <section class="card">
            <h1 class="page-title">Shop</h1>
            <p class="page-text">No products available yet. Please check back later.</p>
        </section>
    {{/if}}
</main>